@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #3C4973;
  --color-primary-variant: #6A79A6;
  --color-secondary: #b5bbce;
  --color-tertiary : #B48967;
  --color-success: #14A44D;
  --color-danger: #DC4C64;
}

.font-sansita {
  font-family: 'Sansita Swashed', cursive;
}
.nacion-1:hover .mondstadt, .nacion-2:hover .liyue, .nacion-3:hover 
.inazuma, .nacion-4:hover .sumeru {
  opacity: 1;
}
.heroes {
  transform: translateX(-500%);
}
.visible {
  transition: .9s ease-in-out;
  transform: translateX(0);
}
.navbar {
  display: none;
  height: -webkit-fill-available
}
.navbar-toggler {
  display: none;
}
label {
  position: absolute;
}
input.navbar-toggler:checked~.navbar {
  display: block;
}